# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
5. Scala
6. Javascript
7. Java
8. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. SciPy
5. Keras
6. PyTorch
7. PyBrain
8. TensorFlow
9. Matplotlib
10. Scrapy

Objectives: 
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expressions in Python

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(f"{minutes} minutes is equal to {round(hours, 2)} hours")

200 minutes is equal to 3.33 hours

## Author 
Mikhail Hughes